body {
    background-color: #a9cfd9;
}

.container {
    background-image: url(images/fish.gif);
    background-color: #FFFFC5;
    height: 330px;
    width: 450px;
    margin: 0 auto;
    margin-top: 165px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

.backbutton {
    background-image: url(images/backbutton.png);
    height: 50px;
    width: 50px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: Georgia;
    margin-top: 80px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}


.button {
    font-size: 20px;
    color: #7db2b8;
    border-color: #7db2b8;
    border-radius: 5px;
    background-color: white;

}

.button:hover {
    background-color: #7db2b8;
    color: white;
}

.start-container {
    text-align: center;
    margin-top: 30px;

}


.start-button {
    color: red;
    font-size: 50px;
    background-color: white;
    text-align: center;
    border-color: red;
    border-radius: 5px;

}

.start-button:hover {
    background-color: red;
    color: white;
}

.rules-container {
    background-color: #8fcaca;
    height: auto;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.credit-title {
    font-size: 60px;
    position: relative;
    top: -30px;
    margin-top: 10px;
}

.credit-names {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.credit-title,.credit-names { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}