body {
  background-color: #a9cfd9;
}

.container {
  background-image: url(images/fish.gif);
  background-color: #ffffc5;
  height: 330px;
  width: 450px;
  margin: 0 auto;
  margin-top: 165px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.backbutton {
  background-image: url(images/backbutton.png);
  height: 50px;
  width: 50px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-family: Georgia;
  margin-top: 80px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.button {
  font-size: 20px;
  color: #7db2b8;
  border-color: #7db2b8;
  border-radius: 5px;
  background-color: white;
}

.button:hover {
  background-color: #7db2b8;
  color: white;
}

.start-container {
  text-align: center;
  margin-top: 30px;
}

.start-button {
  color: red;
  font-size: 50px;
  background-color: white;
  text-align: center;
  border-color: red;
  border-radius: 5px;
}

.start-button:hover {
  background-color: red;
  color: white;
}

.rules-container,
.credit-container {
  background-color: #8fcaca;
  height: auto;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.credit-title {
  font-size: 50px;
  position: relative;
  top: -30px;
  margin-top: 10px;
}

.credit-names {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.credit-title,
.credit-names {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.gamescreen-body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.game-board {
  position: relative;
  width: 600px;
  height: 650px;
  margin: 0 auto;
  border: 2px solid black;
  padding: 20px;
  background-color: #00a000;
}

.player, .opponent {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spacing-before-deal {
  margin-top: 100px;
}

.name-label, .opponent .name-label {
  margin-top: 10px; 
}

.player {
  bottom: 20px;
  left: 0;
  margin-top: 60px;
  width: 100%;
}

.opponent {
  top: 20px;
  left: 0;
  width: 100%;
}

.card-hand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.card {
  width: 50px;
  height: 75px;
  perspective: 1000px;
  background-color: #b3d9ff;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-container {
  perspective: 1000px;
}
.card-container:hover .card {
  transform: rotateY(180deg);
}

.card-back, .card-front1, .card-front2, .card-front3, .card-front4, .card-front5 {
  position: absolute; 
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front1 {
  background-image: url('images/2_of_hearts.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateY(180deg);
}

.card-front2 {
  background-image: url("images/jack_of_clubs2.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateY(180deg);
}

.card-front3 {
  background-image: url('images/2_of_hearts.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateY(180deg);
}

.card-front4 {
  background-image: url('images/5_of_diamonds.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateY(180deg);
}

.card-front5 {
  background-image: url('images/9_of_spades.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateY(180deg);
}

.card-back {
  background-image: url('images/back_of_card.jpg'); 
  background-size: cover;
  
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.turn-indicator {
  display: none;
    width: 200px;
    height: 40px;
    background-color: red;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#deal-toggle:checked ~ .turn-indicator {
  display: flex;
}

.ask-button {
background-color: #b19cd9;
padding: 10px;
border: none;
border-radius: 20px;
cursor: pointer;
font-size: 30px;
font-weight: bold;
display: inline-block;
text-align: center;
margin-right: 10px;
}

.ask-button:hover {
  background-color: #8f7dcb;
}

.ask-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  margin-top: 20px;
}

.fish-container {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  margin-top: 20px; 
}

.go-fish {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background-image: url('images/go-fish.png');
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  animation: fadeIn 0.5s ease-in 1s forwards;
}



.face {
  font-size: 48px;
}

.name-label {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.deal-toggle {
  display: none;
}

.deal-button {
  padding: 15px 30px;
  background-color: white;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deal-toggle:checked + .deal-button {
  display: none; 
}
.deal-toggle:checked+.deal-button {
  display: none;
}

#opponent-cards, #player-cards {
  display: none;
}

#deal-toggle:checked + .deal-button + .turn-indicator,
#deal-toggle:checked ~ .opponent,
#deal-toggle:checked ~ .player,
#deal-toggle:checked ~ .opponent .card-hand,
#deal-toggle:checked ~ .player .card-hand,
#deal-toggle:checked ~ .player .ask-button {
  display: flex; 
}

#deal-toggle:checked+.deal-button {
  display: none;
}

.ask-text {
  display: none; 
  font-size: 25px;
  font-weight: bold;
  color: black;
  background-color: lightgreen;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px; 
  text-align: center;
}


#ask-toggle:checked~.ask-text {
  display: block;

}

#deal-toggle,
#ask-toggle {
  display: none;
}


#ask-toggle:checked~.player .ask-text {
  display: block;
  font-size: 25px;
  font-weight: bold;
  color: black;
  background-color: lightgreen;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  text-align: center;
}

.billy-ask-text {
  opacity: 0;
  font-size: 25px;
  font-weight: bold;
  color: black;
  background-color: lightblue;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  text-align: center;
  transition: opacity 0.5s ease-in;
  animation: fadeIn 0.5s ease-in 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#ask-toggle:checked~.opponent .billy-ask-text,
#ask-toggle:checked~.opponent .go-fish {
  display: block;

}
